@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
  .bg-nav-color{
    background-color: #3f0072;
  }
  .highlight-header-color{
    background-color: #342fd1;
  }
  .highlight-color{
    background-color: #FB2576;
  }
  .special-highlight-color{
    background-color: green;

  }
  .present-color{
    background-color: green;
  }
  .absent-color{
    background-color: #ff0000;
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
